@media only screen and (max-width: 800px) {
  .body {
    background: url("/Files/bg.jpg");
    height: 100vh;
    width: 100vw;
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section {
    background: linear-gradient(
      rgba(160, 223, 160, 0.968),
      rgba(202, 156, 201, 0.952)
    );
    width: 80vmin;
    height: 80vmin;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
  }
  .head {
    background: linear-gradient(red, yellow);
    border-radius: 6px;
  }
  .food {
    border: 0.25vmin solid rgb(0, 255, 0);
    background-color: rgb(0, 255, 0);
    border-radius: 10px;
  }
  .snake {
    background-color: purple;
    border: 0.25vmin solid purple;
    margin: 1px;
    border-radius: 8px;
  }
  #score {
    position: absolute;
    top: 20px;
    left: 80vw;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    font-family: "Syne", sans-serif;
  }

  .btn {
    width: 60px;
    height: 60px;
    color: rgb(238, 233, 243);
    font-family: "Syne", sans-serif;
    font-size: 18px;
    padding: 0.25rem;
    border-radius: 50%;
    border: none;
    /* margin: 0.5rem; */
    color: red;
  }
  .control {
    position: absolute;
    top: 80px;
    left: 75vw;
    width: 250px;
    height: 250px;
    text-align: center;
  }
  #up {
    position: relative;
    top: 10px;
    left: 50px;
  }
  #down {
    position: relative;
    top: 20px;
    left: 50px;
  }
  #left {
    position: relative;
    top: 45px;
    right: 72px;
  }
  #right {
    position: relative;
    bottom: 19px;
    left: 43px;
  }
}

/* 2300 px media quarry */
@media only screen and (max-width:2300px) {
    .section {
        margin-right: 15vw;
      }
}
/* 2000 px media quarry */
@media only screen and (max-width:2000px) {
    .section {
        margin-left:-150px;
      }
}
@media only screen and (max-width:1700px) {
.section{
    margin-left: -200px;

}}

/* 1500 px media quarry */
@media only screen and (max-width:1500px) {
    .section {
      width: 75vmin;
      }
}
/* 1300 px media quarry */
@media only screen and (max-width:1400px) {
    .section {
      width: 70vmin;}
      .body {
        background: url("/Files/bg.jpg");
        height: 100vh;
        width: 100vw;
        background-size: 90vw 90vh;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      }
}