
/* 2300 px media quarry */
@media only screen and (max-width:2300px) {
    .section {
        margin-right: 15vw;
      }
}
/* 2000 px media quarry */
@media only screen and (max-width:2000px) {
    .section {
        margin-left:-150px;
      }
}
@media only screen and (max-width:1700px) {
.section{
    margin-left: -200px;

}}

/* 1500 px media quarry */
@media only screen and (max-width:1500px) {
    .section {
      width: 75vmin;
      }
}
/* 1300 px media quarry */
@media only screen and (max-width:1400px) {
    .section {
      width: 70vmin;}
      .body {
        background: url("/Files/bg.jpg");
        height: 100vh;
        width: 100vw;
        background-size: 90vw 90vh;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      }